.input {
    width: 180px;
    margin-bottom: 5px;
}

.root {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.icon {
margin:10px
}