.padded {
    margin: 15px;
    padding: 10px;
}

.input {
    width: 180px;
    margin: 10px;
}

.actionsArea {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.action {
    
}

.sendButton {
    transform: scaleX(-1);
}